@use 'variables' as *;

.app {
  &-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: red;
  }
  &-navbar {
    min-height: $navbar-height;
    display: flex;
    .container {
      flex: 1;
    }
  }
  &-main {
    padding-top: $navbar-height;
  }
}

.container {
  max-width: $container-max-width + ($gap * 2);
  width: auto;
  padding: 0 $gap;
  margin: 0 auto;
}
