@use '../app' as *;

button.button {
  border-radius: 3px;
  background: map-get($colors, success);
  color: white;
  width: 150px;
  min-height: 2.5rem;
  padding: $input-padding;
  cursor: pointer;
  outline: none;
  border: none;
  &.is-loading {
    color: transparent !important;
    pointer-events: none;
    @include loader;
  }
  &.is-medium {
    width: 250px;
  }
  &.is-danger {
    background: map-get($colors, danger);
  }
  &.is-inverted {
    background: white;
    color: map-get($colors, success);
  }
  &.icon {
    background-color: rgba(map-get($colors, primary), 0.4);
    color: white;
    font-size: 1.25rem;
  }
  &.is-fullwidth {
    width: 100%;
  }
  &:disabled {
    pointer-events: none;
    background: rgba(map-get($colors, primary), 0.4);
  }
}
