@use '../base/variables' as *;
@mixin mobile {
  @media (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
@mixin loader {
  position: relative;
  &::after {
    content: "";
    left: calc(50% - (1.5em / 2));
    top: calc(50% - (1.5em / 2));
    position: absolute !important;
    animation: rotate 0.5s linear infinite;
    border: 2px solid map-get($colors, yellow);
    border-radius: 9999px;
    border-right-color: transparent;
    border-top-color: transparent;
    display: block;
    height: 1.5em;
    width: 1.5em;
    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
@mixin tablet {
  @media (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: map-get($breakpoints, widescreen)) {
    @content;
  }
}

@mixin from($device) {
  @if map-has-key($breakpoints, $device) {
    @media (min-width: map-get($breakpoints, $device)) {
      @content;
    }
  } @else {
    @error "#{$device} is not a valid breakpoint";
  }
}

@mixin between($device1, $device2) {
  @media (min-width: map-get($breakpoints, $device1, ) and (max-width: map-get($breakpoints, $device2))) {
    @content;
  }
}
