@use '../base/variables' as *;
@use '../utils/mixins' as *;

.is-flex {
  display: flex;
}
.is-align-items-center {
  align-items: center;
}
.is-align-items-flex-end {
  align-items: flex-end;
}
.is-justify-content-center {
  justify-content: center;
}
.is-justify-content-space-between {
  justify-content: space-between;
}

.is-multiline {
  flex-wrap: wrap;
}

.is-flex-grow-1 {
  flex-grow: 1;
}

.row {
  $gap: 8px;
  display: flex;
  margin: 0 -$gap;
  [class^="col"] {
    padding: $gap;
  }
}
.col {
  flex: 1;
  @each $breakpoint, $value in $breakpoints {
    @for $idx from 1 through $columns {
      $basis: (100% / $columns) * $idx;
      &-#{$idx} {
        flex-basis: $basis;
        max-width: $basis;
      }

      @if ($breakpoint == "mobile") {
        &-#{$idx}-#{$breakpoint} {
          @media (min-width: 0px) {
            flex-basis: $basis;
            max-width: $basis;
          }
        }
      } @else {
        &-#{$idx}-#{$breakpoint} {
          @include from($breakpoint) {
            flex-basis: $basis;
            max-width: $basis;
          }
        }
      }
    }
  }
}
