$sizes: 6;

.has-text-centered {
  text-align: center;
}
.has-text-left {
  text-align: left;
}
.has-text-right {
  text-align: right;
}
.no-decoration {
  text-decoration: none;
}

.is-uppercase {
  text-transform: uppercase;
}

@for $i from 1 through $sizes {
  .is-size-#{$i} {
    font-size: $i * 1rem;
  }
}
